.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#button-mdd{
  color: white !important;
  background-color: #3040c5 !important;
}
.parent-register{
  width: 90%;
  margin: auto;
}
